bin/
obj/
*.user
*.filters
*.DotSettings
src/.vs
src/RawAccel/wrapper/x64/
src/packages/
src/InvertMouseDriver/.vs
src/InvertMouseDriver/x64/
src/InvertMouseDriver/arm64/
src/InvertMouseDriver/packages/
